@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;900&display=swap');


@media all and (max-width: 800px) {
    .home-view .image-business,
    .home-view .image-shape,
    .home-view .h1-head,
    .home-view .text-content,
    .home-view .content-layout {
        transition: all 200ms cubic-bezier(0.4, 0.2, 0.2, 1);
        max-width: 320px;
    }


    .home-view .gif-view{
        justify-items: center;
        height: 300px;
        width: 300px;
        margin-left: -40px;
    }

    .home-view .image-business {
        width: 338px;
        height: 233px;
        left: 60px;
        top: 140px;
    }

    .home-view .gif-view{
        justify-self: center;
        align-items: center;
    }

    .home-view .image-shape {
        width: 400.08px;
        height: 300.75px;
        left: -10px;
    }

    .home-view .h1-head {
        line-height: 70px;
        position: center;
        left: 30px;
        font-size: 56px;
        top: 327.75px;
    }

    .home-view .text-content {
        font-weight: 500;
        font-size: 18px;
        left: 30px;
        top: 447.75px;

    }


    .home-view .text-qoute{
        position: absolute;
        width: 391px;
        height: 126px;
        left: 30px;
        top: 590px;

        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 36px;
        transition: transform .2s;

        color: #C8C8C8;
    }
}

.tab-main {
    padding-right: 3%;
    padding-top: 10px;
}

.home-view{
}

.gif-view{
    height: 580px;
    width: 580px;
    margin-left: calc(460px + 6 * ((100vw - 320px) / 120));
}

.material-list{
    transition: transform .2s;
}

.material-list:hover {
    transform: scale(1.01);
}

.card-image{
    object-fit: cover;
    scale: 1.5;
}

.image-shape {
    background-blend-mode: luminosity;
    filter: opacity(17%) grayscale(105%) brightness(294%);
    position: absolute;
    scale: 1.1;
    width: 950.08px;
    height: 587.75px;
    left: 558px;
    top: 100.6px;
}

.image-business {
    position: absolute;
    width: 588px;
    height: 414px;
    top: 195px;
    left: 830px;
}

.h1-head {
    position: absolute;
    width: 485px;
    height: 292px;
    left: 83px;
    top: 101px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: calc(46px + 6 * ((100vw - 320px) / 120));
    line-height: calc(42px + 6 * ((100vw - 320px) / 120));

    color: #FFFFFF;
}

.text-qoute{
    position: absolute;
    width: 391px;
    height: 126px;
    left: 83px;
    top: 527px;

    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    transition: transform .2s;

    color: #C8C8C8;
}


.content-layout .text-qoute{
    color: transparent;
    text-shadow: 0 0 10px rgba(252, 252, 252, 0.83);
}

.text-qoute:hover{
    color: #fcf9f9;
    transform: scale(1.01);
    text-shadow: none;

}

.text-content {
    position: absolute;
    width: 485px;
    height: 159px;
    left: 83px;
    top: calc(240px + 5 * ((100vw - 320px) / 120));

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: calc(4px + 3 * ((100vw - 120px) / 120));
    line-height: 42px;

    color: #FFFFFF
}

.header-h2 {
    padding-bottom: 3%;
    color: rgb(230, 215, 255)
}

.btn-icon {
    height: 83px;
    width: 83px;
    padding: 10px;
    opacity: 80%;
    color: rgba(230, 215, 255, 0.63)
}

.db-dialog {
    border-radius: var(--lumo-border-radius);
    width: auto;
}

.btn-dialog {
    color: rgba(247, 243, 253, 0.96)
}

.headline {
    color: rgba(247, 243, 253, 0.96)
}

.flash-more-btn {
    color: rgba(247, 243, 253, 0.96)
}

.flash-card{
    grid-column: auto;
}

.flash-item{
    color: #37d254;
}

.sub {
    align-self: self-start;
    top: 50px;
    opacity: 80%;
    font-size: 12px;
    position: fixed;
    color: rgba(247, 243, 253, 0.96)
}

.flash-item-title {
    font-size: var(--lumo-font-size-xxl);
    color: rgba(247, 243, 253, 0.96);
    justify-content: start;
}

.flash-item-detail {
    align-self: self-start;
    color: rgba(247, 243, 253, 0.96)
}

.flash-item-question {
    align-self: self-start;
    color: rgba(247, 243, 253, 0.96)
}

.dialog-title{
    padding-left: 20px;
    color: #FFFFFF
}

.footer{
    padding-right: 20px;
}




