@import url('./main-layout.css');
@import url('./views/image-list-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');


html {
    --lumo-error-text-color: rgb(255, 56, 103);
    --lumo-error-color-50pct: rgba(255, 56, 103, 0.5);
    --lumo-error-color-10pct: rgba(255, 56, 103, 0.1);
    --lumo-success-text-color: rgb(20, 184, 143);
    --lumo-success-color-50pct: rgba(20, 184, 143, 0.5);
    --lumo-success-color-10pct: rgba(20, 184, 143, 0.1);
    --lumo-error-color: hsl(346, 100%, 61%);
    --lumo-success-color: hsl(165, 80%, 40%);
    --lumo-header-text-color: hsl(0, 0%, 15%);
    --lumo-body-text-color: hsla(0, 0%, 9%, 0.94);
    --lumo-secondary-text-color: hsla(0, 0%, 12%, 0.72);
    --lumo-tertiary-text-color: hsla(285, 3%, 12%, 0.5);
    --lumo-primary-text-color: rgb(63, 67, 100);
    --lumo-primary-color-50pct: rgba(63, 67, 100, 0.5);
    --lumo-primary-color: hsl(234, 23%, 32%);
}